.plan_container{
    
    overflow: auto;
   
    border: solid 1px gray;
    border-radius: 10px;
    margin: 10px;
    position: relative;

}

.plan_doc {
    background-color:rgba(0,0,0);
}

.plan_img { 
    
    z-index: 1;  
        position: relative;
        
        top: 0;
        left: 0;
}

.plan_img:hover { 
    opacity: 0.9;
}


.plan_marker{
    position: absolute;
    z-index: 9;  
    cursor: pointer;
}




.marker:hover {
    fill:rgb(200,200,200);

}



.popup{
  
    width:100px;
    height: 100px;
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
    position:absolute;
    border-radius: 10px;
    top:-107px;
    left: -37.25px;
    overflow: auto;
    z-index: 12;
    
}

.popup_element{
    position: relative;
    margin: 5px;
    padding: 3px;
    background-color: #EEF5FB;
    border-radius: 5px;
    font-family: "Open Sans";
    height: 18px;
    z-index: 13;

}

.popup_element_icon{
    position: absolute;
    top: 2px;
    left: 5px;
}

.popup_element_text{
    position: absolute;
    top: 4px;
    left: 27px;
    height: 15px;
}


.shadow {
    -webkit-filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .7));
    filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }

.plan_footer {
    
    align-items: center;
}

.plan_footer_button {
    display: inline-block;
    width: 20px; 
    height: 20px;
}

.plan_footer_name {
    display: inline-block;
    margin-left: 5px;
    height: 20px;
    width: 200px; 

}

.plan_footer_counter{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    height: 20px;
    color:gray
}

.scale_controller{
    position: absolute;
}

.scale_controller_button{
    position: absolute;
    background-color: beige;
  
    border: solid black 1px;
    border-radius: 5px;
    z-index: 10; 
    
    height: 30px;
    width: 30px;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

}

.plus{
    top:200px
}

.minus{
    top:240px
}